.btn-arrow
  min-width 11rem
  width fit-content
  margin 2rem 0
  padding .8rem 1.4rem
  border-radius 5rem
  cursor pointer
  @media screen and (min-width 1024px)
    min-width 14rem
    padding 1rem 1.8rem
  &-text
    display flex
    width 100%
    text-transform uppercase
    font-size 0.8rem
    justify-content space-between
    align-items center
    letter-spacing: 1.01px
  &-icon
    padding-left .5rem
    img
      margin-bottom 2px
      width 1.2rem
  &-white
    border 1px solid $white
    color $white
    transition all .3s ease-out
    .btn-arrow-text
      font-weight 500
    &:hover
      background-color rgba($white, .8)
      box-shadow 0 5px 9px 0 rgba(0, 0, 0, .5)
      .btn-arrow-text
        color $txt_black
      img
        filter none
    @media screen and (min-width 1024px)
      margin 3rem 0
      
    img
      filter brightness(0) invert(1)

  &-dark
    border 1px solid $blue_dark
    color $blue_dark
    transition all .3s ease-out
    .btn-arrow-text
      font-weight bold
    &:hover
      background-color rgba($blue_dark, .8)
      box-shadow 0 5px 9px 0 rgba(0, 0, 0, .5)
      .btn-arrow-text
        color $white
      img
        filter brightness(0) invert(1)
