.header-nav
  height 6rem
  padding 0 2rem
  transition background-color .2s linear
  .wp-nav
    display flex
    align-items center
    padding-top .5rem
    justify-content space-between
    ul
      @media screen and (min-width 768px)
        width: calc(100% - 6rem);
      @media screen and (min-width 1024px)
        width: calc(100% - 9rem);
      li
        margin-right .5rem
        @media screen and (min-width 768px)
          margin-right 2.5rem
          text-align center
      .menu_show
        display none
        @media screen and (min-width 768px)
          display flex
          width 100%
      #mobile
        @media screen and (min-width 768px)
          display none
      .menu_bars 
        width: 1.6rem
        border: none
        background: transparent
        transition: all ease-in
        span 
          width: inherit
          height: .2rem
          margin: .4rem 0
          display:block
          background-color: $white
          border-radius: 1rem
          transition: .5s
          &:nth-last-child(2) 
            width: calc(100% - 5px)
            margin-left: auto
      .active 
        position: relative
        span 
          transition: .3s
          &:nth-last-child(1) 
            position: absolute
            top: 0
            transform: rotate(-45deg)
          
          &:nth-last-child(3) 
            transform: rotate(45deg)
            width: inherit
          
          &:nth-last-child(2)
            display: none
  .logo
    width 2rem
    margin 1.5rem 0
    cursor pointer
    img
      width 100%

  .language
    margin 0 4.5rem 0 1rem
    @media screen and (min-width 768px)
      margin 0 0 0 auto
    a
      color $white
      margin 0 .5rem
      transition all .1s ease-in
      &:hover
        font-weight bold

.footer-nav
  display flex
  height 2rem
  align-items flex-start
  @media screen and (min-width 768px)
    align-items center
    margin-bottom 1rem

  .wp-nav
    ul
      font-size .7rem
      @media screen and (min-width 425px)
        font-size .75rem
      @media screen and (min-width 768px)
        font-size .813rem
      margin 0
      .menu_show
        display flex
      .menu_bars 
        display none
      li
        margin-right .5rem
        @media screen and (min-width 768px)
          margin-right 2.5rem
        text-align center

.footer-nav, .header-nav
  width 100%
  .wp-nav
    display flex
    ul
      display inherit
      li
        font-weight 300
        @media screen and (min-width 425px)
          font-weight 400
        position relative
        a
          color inherit

.menuMobile
  width 100%
  transition opacity .2s linear
  opacity 0
  z-index -1
  position fixed
  right 0
  top 6rem
  .menu
    width: 100%;
    height: calc(100vh - 6rem)
    background-color rgba($green, .8)
    position: absolute;
    top: 0;
    right: 0;
    padding 4rem 2rem 2rem
    ul
      text-align center
      li
        padding-bottom 2rem
        a
          color $txt_blue
          font-weight 400
      .language
        margin auto
        a
          margin 0 1rem

.bg-green
  background-color $green

.white
  ul
    color $white
  .menu_show
    li
      &:before
        content ''
        height 2px
        width 0
        background-color $white
        position absolute
        bottom -12px
        transition width .3s ease-out
      &:hover
        &:before
          width 15px

.black
  ul
    color $txt_blue
  .menu_show
    li
      a
        transition all .2s linear
      &:hover
        a
          font-weight bold