*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Open Sans', sans-serif

a
  text-decoration none
li
  list-style none

h2
  font-size 2.2rem
  @media screen and (min-width 425px)
    font-size 2.3rem

p
  font-size .9rem
  @media screen and (min-width 425px)
    font-size 1rem
  @media screen and (min-width 768px)
    font-size .9rem
  @media screen and (min-width 1024px)
    font-size 1.1rem

// variables
@import "./_vars.styl";

// components
@import "./components/_navbar.styl";
@import "./components/_btn-arrow.styl";
@import "./components/_slider.styl";


/* Styles */
.container
  height auto
  overflow hidden
  
  header
    height 100vh
    width 100%
    background-image url('../assets/imgs/group.jpg')
    background-position right -11cm center
    background-size cover
    background-repeat no-repeat
    position relative
    @media screen and (min-width 768px)
      background-position center
    @media screen and (min-width 1024px)
      .line
        width 2px
        height 100vh
        position absolute
        top 0
        left 7em
        background-color $white
    .wp-text
      height calc(100% - 6rem)
      width 100%
      display flex
      flex-direction column
      justify-content center
      padding 0 2rem
      @media screen and (min-width 1024px)
        padding 0 2rem 0 20%
      h1
        max-width 38rem
        color $white
        font-weight 400
        font-size 2.5rem
        line-height 1.28
        @media screen and (min-width 768px)
          font-size 2.8rem
        @media screen and (min-width 1024px)
          font-size 3.5rem
        .green
          color $green
          font-weight 700

  .section
    &-tenis
      .wp
        &-top
          min-height 20rem
          background-color $bg_gray
          padding 3rem 2rem 2rem
          @media screen and (min-width 1024px)
            min-height 22rem
            padding 4rem 2rem 2rem

          &-width
            max-width 40rem
            margin auto
          &-title
            display grid
            grid "subtitle" "title"
            @media screen and (min-width 768px)
              grid "subtitle title" / 15% 60%
            .subtitle
              grid-area subtitle
              color $green
              font-size .9rem
              letter-spacing 1px
              font-weight 700
              text-transform uppercase
              margin-bottom .5rem
              @media screen and (min-width 768px)
                margin 1rem 1.5rem 0 0
                font-weight 500
            h2
              grid-area title
              color $txt_black
              font-weight 600
              span
                display block
              @media screen and (min-width 425px)
                span:first-child
                  display inline
          &-text
            display grid
            grid "txt" "btn"
            @media screen and (min-width 768px)
              grid "txt btn" / 68%
              margin-left 6rem
              margin-top 1.5rem
            @media screen and (min-width 1024px)
              grid "txt btn" / 84%

            .text
              grid-area txt
              max-width 24rem
              color $txt_gray
              font-weight 500
              margin 1.2rem 0 0
              line-height: 1.78
              @media screen and (min-width 768px)
                max-width 20rem
            .btn-arrow-dark
              grid-area btn
              @media screen and (min-width 768px)
                margin-bottom 0
                margin-top 2.5rem

        &-bottom
          min-height 22rem
          display grid
          grid: "text" "carrusel" / 100%
          position relative
          @media screen and (min-width 768px)
            grid: "text carrusel" / 50% 50%
          @media screen and (min-width 900px)
            grid: "text carrusel" / 45% 55%
            min-height 26rem
          @media screen and (min-width 1024px)
            grid: "text carrusel" / 35% 65%
            min-height 28rem
          &-text
            grid-area text
            padding 2rem
            padding-left 7.5rem
            background-image url("../assets/imgs/ball-color.jpg")
            background-repeat no-repeat
            background-position -3cm -1cm
            background-size inherit
            height 22rem
            line-height: 1.67
            @media screen and (min-width 425px)
              background-position center
              background-size 100%
              padding-left 9rem
            @media screen and (min-width 768px)
              background-size cover
              height 24rem
            @media screen and (min-width 900px)
              height 26rem
            @media screen and (min-width 1024px)
              background-position -2cm center
              height 28rem
            @media screen and (min-width 1440px)
              background-position 0cm center
              padding-left 45%
              padding-top 3rem
            .title
              font-weight 500
              color $white
              margin-bottom 1rem
              line-height: 1.28
              span
                font-weight bold
                display block
            .text-info
              color $white
              max-width 18rem
          &-carrusel
            grid-area carrusel
            padding 4rem 2rem
            @media screen and (min-width 768px)
              padding 1rem 0
            @media screen and (min-width 900px)
              padding 2rem 0
            @media screen and (min-width 1024px)
              padding 3rem 0rem 3rem 2rem
    
    &-bannerFull
      height calc(100vh - 8rem)
      background-image url('../assets/imgs/action-athlete-ball.png')
      background-size cover
      background-repeat no-repeat
      img
        display none
      @media screen and (min-width 768px)
        max-height 19.4rem
        height 20rem
        background-image none
        img
          display block
          width 100%
      @media screen and (min-width 1024px)
        min-height 26rem
        overflow hidden
      @media screen and (min-width 1440px)
        min-height 36rem
  
  .footer
    height 8rem
    width 100%
    padding 2rem
    background-color $green
    display flex
    justify-content space-between
    @media screen and (min-width 1024px)
      height 9rem
      padding 2rem 4rem
    .social-list
      img
        margin-right 1rem
        width 1.8rem
        cursor pointer
        @media screen and (min-width 768px)
          margin-right 1rem
          width 2rem
    &-logo
      display inherit
      align-items center
      cursor pointer

// specific styles
.white
  color $white
  .select
    &:before
      background $white

.black
  color $txt_blue
  .select
    &:before
      content none

.active
  font-weight bold !important

.select
  font-weight bold !important
  &:before
    content ''
    height 2px
    width 15px
    position absolute
    bottom -12px

.no-scroll
  position fixed